.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 18px;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px !important;
}
