<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add new customer</h3>
<mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="First name" [(ngModel)]="form.nom_clt" formControlName="nomCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Last name" [(ngModel)]="form.prenom_clt" formControlName="prenomCtrl" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="form.date_nais_clt" formControlName="dateCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" [(ngModel)]="form.adresse_clt"
            placeholder="Ex. 1 Main St, New York, NY" formControlName="adresseCtrl" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Personal contact</ng-template>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Fix</mat-label>
          <input matInput placeholder="71.2596.365" [(ngModel)]="form.fix_clt" formControlName="fixCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fax</mat-label>
          <input matInput placeholder="70.896.325" [(ngModel)]="form.fax_clt" formControlName="faxCtrl" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput placeholder="50.896.325" [(ngModel)]="form.portable_clt" formControlName="telCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [(ngModel)]="form.email_clt" formControlName="emailCtrl"
            required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Check the information before saving
        </mat-panel-title>
        <mat-panel-description>
          {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Nom: {{form.nom_clt}}</li>
        <li>Prénom: {{form.prenom_clt}}</li>
        <li>Date de naissance: {{form.date_nais_clt | date:'dd-MM-yyyy'}}</li>
        <li>Adresse: {{form.adresse_clt}}</li>
        <li>Fix: {{form.fix_clt}}</li>
        <li>Fax: {{form.fax_clt}}</li>
        <li>Portable: {{form.portable_clt}}</li>
        <li>Email: {{form.email_clt}}</li>
      </ul>
      <div class="example-button-row">
        <button mat-flat-button matStepperPrevious>Back</button>
        <button mat-flat-button  color="primary" (click)="addClient()">Submit</button>
      </div>
    </mat-expansion-panel>
  </mat-step>
</mat-horizontal-stepper>
<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
