<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
</div>

<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Client details</h3>
  <div class="card-body">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected [routerLink]="['/add-client']">Add New Customer</mat-chip>
    </mat-chip-list>
    <!-- <a class="text-success"  [routerLink]="['/add-client']">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a> -->
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="nom_clt">
        <th mat-header-cell *matHeaderCellDef> Nom & Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom_clt}} {{element.prenom_clt}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="adresse_clt">
        <th mat-header-cell *matHeaderCellDef> adresse_clt </th>
        <td mat-cell *matCellDef="let element"> {{element.adresse_clt}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date_nais_clt">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let element"> {{element.date_nais_clt | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="adresseUsers">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let element"> {{element.adresseUsers}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email_clt">
        <th mat-header-cell *matHeaderCellDef> email_clt </th>
        <td mat-cell *matCellDef="let element"> {{element.email_clt}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="portable_clt">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let element"> {{element.portable_clt}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>
</div>


<!-- Editable table -->
<!-- Modal update-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" #f="ngForm" [formGroup]= "ControleReception"
    (ngSubmit)= "updateClient(f);modal.close('Submit click')">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Nom</label>
            <input type="text" name="Nom" formControlName="nom_clt" [disabled]= "isdessable" id="nomUsers" class="form-control form-control-alternative"
              placeholder="Nom" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-email">Prenom</label>
            <input type="text" name="Prenom" formControlName="prenom_clt" [disabled]= "isdessable" id="prenomUsers"  class="form-control form-control-alternative"
              placeholder="Prenom" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-first-name">Adresse</label>
            <input type="text" name="Adresse" formControlName="adresse_clt" [disabled]="isdessable"   id="username"  class="form-control form-control-alternative"
              placeholder="Username">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-last-name">Date de naissance</label>
            <input type="date" id="dateNaissanceUsers" formControlName="date_nais_clt" [disabled]="isdessable"   name="dateNaissanceUsers"
              class="form-control form-control-alternative" placeholder="01/01/2020">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-first-name">Fix</label>
            <input type="text" id="posteUsers" formControlName="fix_clt" [disabled]="isdessable"  name="posteUsers" class="form-control form-control-alternative"
              placeholder="Poste">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-first-name">Fax</label>
            <input class="form-control form-control-alternative" formControlName="fax_clt" [disabled]="isdessable"  id="adresseUsers" name="adresseUsers" placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-city">Téléphone</label>
              <input type="text" name="telUsers" formControlName="portable_clt" [disabled]="isdessable" id="telUsers"   class="form-control form-control-alternative"
                placeholder="+216.20305060">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Email</label>
              <input type="email" name="email" formControlName="email_clt"  [disabled]="isdessable" id="email"   class="form-control form-control-alternative"
                placeholder="user@exemple.com">
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-success" *ngIf= "isButtonVisible">Submit</button>
          <button type="button" (click)= "modal.close('Submit click')"  class="btn btn-success" *ngIf= "!isButtonVisible">OK</button>
    </form>
  </div>
</ng-template>
<!-- Modal-->
<!-- Spinner-->
<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner-->
